//Grid variables
$cols: 12;
$gutter: 20px;
$lg-device: 1200px;
$md-device: 760px;
$sm-device: 480px;

//Box-sizing

*,
*::after,
*::after {
  box-sizing: border-box;
}

//Mediaqueries mixin
@mixin d($size) {
  @if $size == lg {
    @media only screen and (min-width:#{$lg-device}) {
      @content;
    }
  } @else if $size == md {
    @media only screen and (min-width:#{$md-device}) and (max-width: #{$lg-device - 1}) {
      @content;
    }
  } @else if $size == sm {
    @media only screen  and (max-width:#{$md-device - 1}) {
      @content;
    }
  }
}

// Grid function
@function grid($col, $offset: false) {
  $width: $col / $cols * 100 + '%';
  $result: calc(#{$width} - #{$gutter});
  @if $offset == offset {
    $gutter: $gutter / 2;
    $result: calc(#{$width} + #{$gutter});
  }
  @return $result;
}

div {
  width: grid(6, offset);
}

// Generate grid classes
@for $i from 1 through $cols {
  .grid-#{$i} {
    width: grid($i);
  }
}

// grid-structure mixin
@mixin grid-structure {
  float: left;
  min-height: 1px;
  margin-left: $gutter / 2;
  margin-right: $gutter / 2;
  @include d(sm) {
    width: 100%; //uma coluna no  mobile
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

[class^='grid-'] {
  //aqui essa estrutura seleciona todas as classes que comecam com grid-
  @include grid-structure;
}

// Gera as classes de offset
@for $i from 1 through $cols {
  .offset-#{$i} {
    margin-left: grid($i, offset);
    @extend %offset;
  }
}

@include d(sm) {
  %offset {
    margin-left: 0;
  }
}

// Mixin de clearfix
@mixin clearfix {
  &::after,
  &::before {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin container {
  max-width: $lg-device;
  margin: 0 auto;
  position: relative;
  @include d(md) {
    max-width: $md-device;
  }

  @include d(sm) {
    max-width: $sm-device;
    padding-left: 10px;
    padding-right: 10px;
  }
  @include clearfix;
}

.container {
  @include container;
}

@mixin row {
  position: relative;
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;
  @include d(sm) {
    margin-left: 0;
    margin-right: 0;
  }
  @include clearfix;
}

.row {
  @include row;
  width: 100%;
}

div {
  min-height: 50px !important;
  margin-bottom: 20px;
}
